@model AzureDoctor.Models.CloudService

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CloudService</legend>

        @Html.HiddenFor(model => model.CloudServiceID)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "AzureDoctorUser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubscriptionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubscriptionID)
            @Html.ValidationMessageFor(model => model.SubscriptionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Thumbprint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thumbprint)
            @Html.ValidationMessageFor(model => model.Thumbprint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceName)
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
