@model AzureDoctor.Models.Subscription

@{
    ViewBag.Title = "Edit Subscription";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="center">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Subscription</legend>

            @Html.HiddenFor(model => model.SubscriptionRecordID)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.PhoneNumber)

            <div class="editor-label">
                @Html.LabelFor(model => model.SubscriptionName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SubscriptionName)
                @Html.ValidationMessageFor(model => model.SubscriptionName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AzureSubscriptionID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AzureSubscriptionID)
                @Html.ValidationMessageFor(model => model.AzureSubscriptionID)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to Overview", "Overview")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
