@{
    ViewBag.Title = "TestService";
}

<h2>Windows Azure Cloud Service Health Status</h2>

<div>
    <ul>
        <li>@ViewBag.currentServiceStatus</li>
        <li>@ViewBag.instanceStatus</li>
        <li>@ViewBag.deploymentSlot</li>
        <li>@ViewBag.instanceSize</li>
        <li>@ViewBag.SDKVersion</li>
     </ul>

    @if (ViewBag.instanceErrorCode != null) {<text>Instance Error Code: </text>@ViewBag.instanceErrorCode}
</div>
